$btnbg : #7957d4;
$btnbg1 : #e8e0ff;
$btn1color : #826ebb;
$btnshadow : 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 5px 5px 10px rgb(26 56 142 / 28%), inset 2px 2px 6px #b79dff, inset -5px -5px 10px #6240b9 ;
$btn1shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 5px 5px 10px rgb(173 182 211 / 33%), inset 2px 2px 6px #e6deff, inset -3px -3px 5px #8e94ab;
$active_link : #7957D4;
$active_link_n : #af91ff;
$link : #131740;
$active_link_d : gold;
$l_mode : #4f5b78;
$lighticon : #fff;
$light : #fff;
$bborder : #b593ff;
$iborder : lightblue;
$iborder1 : #44a5c6;
$bgtext : #c6abff;
$bgtext1 : #52c7ed;
$securedlbg : #EEF7FA;
$secureddbg : #191727;
$securedd_c_bg : #242235;
$securedl_c_bg : #E2E6FD;
$gray : #454545;
$movingshape : #e3ddfc;
$buysell_l : #F3FAFE;
$footer_l : #EDEFFE;
$footer_d : #13111F;
$copyright_l : #DFE2F6;
$copyright_d : #09080E;
$ex_bg : #F9F9F9;
$ex_border : #e3e3e3;
$ex_border_d : #363349;
$ex_grid_d : #222032;
$ex_search_dbg : #2A283B;
$ex_th_l : #909AB2;
$register_d : #0E1530;
$register_nav : #0C1229;
$register_nav_l : #f3f7ff;

$insidebox1 : #D3E9F8;
$p_iconbg1 : #B7DBF2;
$bb1 : #5BA0CF;
$insidebox2 : #F3CFE2;
$p_iconbg2 : #EEB7D0;
$bb2 : #C76F9C;
$insidebox3 : #CDF8D1;
$p_iconbg3 : #A7ECAB;
$bb3 : #549D54;
$neg : crimson;

$so_bb_l_a : #a3f0c9;
$so_bb_l : #d7f6e7;
$so_sb_l : #ffe5e5;
$so_sb_l_a : #ef5350;
$impn : #ffaaa98b;
$l_ph : #8e8e8e;
$tmb_bg_l : #e9e9e9;
$form_l : #d6deff61;
$r_form_l : #ffffff8a;
$r_form_d: #25386e80;
$form_d : #04001d3f;

$ci_l : #EFF3FD;
$ci_d : #17192C;
$cib_l : #D6E1F9;
$cib_d : #0C1228;
$cb_l : #FDFEFE;
$cb_d : #0B1126;
$ct_d : #222032;
$cmh_d: #DDE0FC;
$fees_l : #F5F8FE;
$fees_l_h : #E1E8F6;
$fees_d_h : #151C39;
$first : #CDC0F9;
$second : #F3E0A5;
$third : #D3E9F8;
$nbc_l : #E8EFFD;
$nbc_d : #1A2449;
$nb_d : #0F1631;
$umt: #4DA795;
$fail: #E48751;
$formp_l : #ecf2ffd4;
$formp_d : #2c1d4de1;
$depo : #63B7F9;
$impnp1_l : #E7E0FD;
$impnp2_l : #C7E4FC;
$p2 : #0095ff;


$t-normal : all .3s ease-in-out;